* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    position: absolute;
    inset: 0;
    display: none;
}

.screen.active {
    display: block;
}


.navbar {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 55px;

    background-color: #111;
    color: white;
    font-size: 22px;

    display: flex;
    align-items: center;

    z-index: 1000;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

.nav-bar-item {
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.navbar-icon {
    width: 22px;
    height: 22px;
    margin: 0 3px 0 6px;
}

.content {
    padding: 85px 5px 0 5px;
    background-color: bisque;
    height: auto;
    min-height: 150vh;
}

.item-row {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.item-img {
    width: 31vw;
    height: 31vw;
    display: block;
    border: 1px solid rgb(0, 255, 38);
    border-radius: 15px;

    position: relative;
    background: #1c1c1c;

    box-shadow:
        0 6px 14px rgba(0, 0, 0, 0.5),
        inset 0 1px 1px rgba(255, 255, 255, 0.08);
}

.item-img::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
    pointer-events: none;
}

.item {
    position: relative;
}

.item-button {
    position: absolute;
    width: 85px;
    height: 27px;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    border: none;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(86, 86, 86, 0.7);
    /* click effect */
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.drop {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    right: 7px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.btn-thu-nhap {
    width: 85px;
    height: 27px;
    border: none;
    background: black;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(86, 86, 86, 0.7);
    /* click effect */
    transition:
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.btn-thu-nhap:active {
    transform: scale(0.86);
    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.6),
        inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.item-button:active {
    transform: translate(-50%) scale(0.86);
    box-shadow:
        0 3px 8px rgba(0, 0, 0, 0.6),
        inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.empty-flower-img {
    width: 31vw;
    height: 31vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: #1c1c1c;
}

.add-flower-img {
    border: 2px solid black;
    display: block;
    position: relative;
}

.add-flower-item {
    position: relative;
}

.add-flower-item > p {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    font-size: 24px;
    color: rgb(210, 210, 14);
    font-weight: 600;
}

.empty {
    width: 31vw;
    height: 31vw;
}

.line {
    border: 1px solid rgb(140, 140, 140);
    margin: 35px 15px 20px 15px;
}

.toggle-btn {
    position: fixed;
    top: 7px;
    right: 7px;
    z-index: 1100;

    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;

    background: #1c1c1c;
    color: #fff;
    font-size: 20px;
    cursor: pointer;

    box-shadow:
        2px 2px 2px rgba(108, 106, 106, 0.5),
        inset 0 1px 1px rgba(255, 255, 255, 0.4);
}

.menu {
    position: fixed;
    background: #111;
    color: white;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.sidebar {
    top: 54px;
    right: 0;

    width: 240px;
    height: 100vh;

    transform: translateX(100%);
    z-index: 1000;
}

.nav-bar-item-info {
    top: 53px;
    left: 0;
    width: 195px;
    height: auto;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    font-size: 16px;
    border: 1px solid black;

    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

.gold-coin-info {
    left: 60px;
}

.red-coin-info {
    left: 120px;
}

.water-info {
    left: 185px;
}

.menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    z-index: 900;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.tongle-menu {
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
}

.btn-nav-item {
    flex: 1;
    height: 55px;
    border: 1px solid rgb(105, 105, 105);
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 21px;
}

.menu-item img {
    flex: 0 0 auto;
    width: 55px;
    height: 55px;
    padding: 7px;
    border: 1px solid rgb(105, 105, 105);
}

.title-info {
    margin-top: 9px;
    color: #bfbfbf;
    font-style: italic;
}



.menu.open.notify-add-flower {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) scale(1);
}


.notify-add-flower {
    width: 260px;
    padding: 18px 15px;
    background: linear-gradient(145deg, #e5e5e5, #d4d4d4);
    color: #000000;

    position: fixed;
    top: 180px;
    left: 50%;
    transform: translateX(-50%) scale(0.9);

    opacity: 0;
    pointer-events: none;

    font-size: 18px;
    border-radius: 14px;
    border: 2px solid #ddd;
    z-index: 999;

    box-shadow: 
        0 10px 25px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.8);

    transition: all 0.25s ease;
}

#cost-of-place {
    color: #e67e22;
    font-weight: bold;
    margin-bottom: 15px;
}

.notify-add-flower button {
    width: 100px;
    padding: 8px 0;
    margin: 5px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 1px 1px 2px rgba(86, 86, 86, 0.7);
}

#btnAgree {
    background-color: #2ecc71;
    color: white;
}

#btnAgree:hover {
    background-color: #27ae60;
}

#btnCancel {
    background-color: #e74c3c;
    color: white;
}

#btnCancel:hover {
    background-color: #c0392b;
}

button:disabled {
    background-color: #aaa !important;
    cursor: not-allowed;
    opacity: 0.6;
}

#inventory-screen {
    color: white;
    background-color: rgb(30, 30, 30);
    height: auto;
    min-height: 150vh;
    padding-top: 15px;
}

.inventory-content {
    padding: 35px 5px 0 5px;
}

#popup-flower-info {
    position: fixed;
    width: 95%;
    max-height: 85vh;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start; 

    /* background: none; */

    overflow-y: auto;
    z-index: 1002;
}

.close-popup {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 24px;
}

.img-info {
    width: 80vw;
    height: 80vw;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;

    background: #1c1c1c;

    box-shadow: 1px 1px 2px rgba(86, 86, 86, 0.7);
}

.hidden {
    display: none;
}

.flower-col-info {
    flex: 1;
    font-size: 16px;
}

#description {
    padding: 7px;
    background-color: rgb(175, 175, 175);
    border-radius: 5px;
    margin-bottom: 5px;
}

#toggle-desc {
    padding: 5px 5px 5px 0;
    text-decoration: underline;
}